<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3Ab_YYTOljO9x4T7vt5tOw0tYdIQxHPU</string>
	<key>GCM_SENDER_ID</key>
	<string>425765859418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frame.lumistream</string>
	<key>PROJECT_ID</key>
	<string>frame-ios-734dd</string>
	<key>STORAGE_BUCKET</key>
	<string>frame-ios-734dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425765859418:ios:b360604df8e7db5b96e863</string>
</dict>
</plist>